@import "tailwindcss";

*{
    /* color: white; */
    user-select: none;
}
html , body{
    height: 100%;
    width: 100%;
}
body {
  font-family: "Poppins", sans-serif;
}

#id{
  width: 100vw;
  overflow: hidden;
  min-height: 100vh;
}
